.heading-class{
    color: blue;
    background-color: rgb(85, 150, 130);
    text-decoration: line-through;
}

body{

    background-color: rgb(124, 117, 192);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    background: lightcoral;
    color: black;
}

.box{
        height: 100px;
        width:  auto;
        border: 1px solid black;
        margin: 5px;
        text-align: center;
        background-color: grey;
}

.content{
    color: white;
    background-color: rgb(73, 72, 129);
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.newClass{
    background-color: lightgreen;
}

.dark{
    background-color: darkgrey;
    color: white;
}

.light{
    background-color: white;
    color: black;
}